@model School.Web.Models.Responses.StudentViewResult

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Estudiante</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Codigo</label>
                <input asp-for="studentId" class="form-control" readonly />
                <span asp-validation-for="studentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Last Name</label>
                <input asp-for="lastName" class="form-control" />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">First Name</label>
                <input asp-for="firstName" class="form-control" />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Enrollment Date</label>
                <input asp-for="enrollmentDate" class="form-control" />
                <span asp-validation-for="enrollmentDate" class="text-danger"></span>
            </div>
        
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
